:host{
    position: sticky;
    display: block;
    top : 0px;
    z-index: 2;

    .tool-wrapper{
        word-wrap: break-word;
        min-height: 70px;
        padding: 15px;
        text-align: center;
    }
}

.insert-symbol-dialog{
    display: grid !important; 
    border-radius: 0px !important;

    .no-left-border{
        border-left: none !important;
    }

    .no-bottom-border{
        border-bottom: none !important;
    }

    mat-button-toggle{
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);

        span{
            color: inherit;
        }
    }
}
