<fieldset class="grid cg-2 rg-1" [ngClass]="inline ? 'c-3' : 'c-2'" [formGroup]="form">
    <legend>{{label}}</legend>

    <mat-checkbox [ngClass]="inline ? 'cs-3' : 'cs-2'" color="primary" formControlName="isInline">{{languageService.fetchKeyWord(36, language)}}</mat-checkbox>
    
    <mat-form-field class="cs-2" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(23, language)}}</mat-label>
        <custom-mat-name-field formControlName="name" [required]="required" [language]="language" [font]="font"></custom-mat-name-field>
    </mat-form-field>

    <mat-form-field *ngIf="showFatherOrHusbandNameField" class="cs-2" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(24, language)}}</mat-label>
        <custom-mat-father-or-husband-name-field formControlName="fatherOrHusbandName" [required]="required" [language]="language" [font]="font"></custom-mat-father-or-husband-name-field>
    </mat-form-field> 

    <mat-form-field [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(10, language)}}</mat-label>
        <custom-mat-age-field [label]="languageService.fetchKeyWord(10, language)" formControlName="age" [required]="required"></custom-mat-age-field>
    </mat-form-field>

    <mat-form-field [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(8, language)}}</mat-label>
        <custom-mat-occupation-field formControlName="occupation" [required]="required" [language]="language"></custom-mat-occupation-field>
    </mat-form-field>

    <mat-form-field class="cs-2" [appearance]="appearance">
        <mat-label>{{currentAddressLabel}}</mat-label>
        <custom-mat-address-field formControlName="currentAddress" [required]="required" [label]="currentAddressLabel" [font]="font" [language]="language"></custom-mat-address-field>
    </mat-form-field>

    <mat-checkbox [ngClass]="inline ? 'cs-3' : 'cs-2'" color="primary" formControlName="isCurrentAndPermanentAddressSame">{{languageService.fetchKeyWord(35, language)}}</mat-checkbox>
    <mat-form-field *ngIf="!form.value.isCurrentAndPermanentAddressSame"  class="cs-2" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(28, language)}}</mat-label>
        <custom-mat-address-field formControlName="permanentAddress" [required]="required" [label]="languageService.fetchKeyWord(28, language)" [font]="font" [language]="language"></custom-mat-address-field>
    </mat-form-field>

    <mat-form-field *ngIf="showMobileNumberField" [ngClass]="inline ? 'cs-1' : 'cs-2'" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(37, language)}}</mat-label>
        <custom-mat-mobile-number-field [showContryCode]="true" [label]="languageService.fetchKeyWord(37, language)" formControlName="mobileNumber" [required]="required"></custom-mat-mobile-number-field>
    </mat-form-field>

    <mat-form-field *ngIf="showAdharNumberField" [ngClass]="inline ? 'cs-1' : 'cs-2'" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(38, language)}}</mat-label>
        <custom-mat-adhar-number-field formControlName="adharNumber" [required]="required" [label]="languageService.fetchKeyWord(38, language)" [language]="language" [font]="font"></custom-mat-adhar-number-field>
        <mat-hint>{{languageService.fetchKeyWord(40, language)}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="showPanNumberField" [ngClass]="inline ? 'cs-1' : 'cs-2'" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(39, language)}}</mat-label>
        <custom-mat-pan-number-field formControlName="panNumber" [required]="required" [label]="languageService.fetchKeyWord(39, language)" [language]="language"></custom-mat-pan-number-field>
        <mat-hint>{{languageService.fetchKeyWord(41, language)}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="showPassportPhoto" [ngClass]="inline ? 'cs-3' : 'cs-2'" [appearance]="appearance">
        <mat-label>{{languageService.fetchKeyWord(50, language)}}</mat-label>
        <custom-mat-image-upload-field formControlName="passportPhoto" [required]="required"></custom-mat-image-upload-field>
    </mat-form-field>
</fieldset>
