<div class="left"></div>
<div class="content">
    <div class="header" [style.alignItems]="value.pageNumberAlignment">
        <span *ngIf="value.isShowHeaderPageNumber">{{value.pageNumber}}</span>
    </div>
    <div class="body" [style.fontFamily]="value.fontFamily" [style.fontSize]="value.fontSize" [contentEditable]="true" [innerHTML]="value.body|safeHtml"></div>
    <div class="footer" [style.alignItems]="value.pageNumberAlignment">
        <span *ngIf="page.isShowFooterPageNumber">{{value.pageNumber}}</span>
    </div>
</div>
<div class="right"></div>