<div class="left"></div>
<div class="content">
    <div class="header" [style.alignItems]="page.pageNumberAlignment">
        <span *ngIf="page.isShowHeaderPageNumber">{{page.pageNumber}}</span>
    </div>
    <div class="body" [style.fontFamily]="page.fontFamily" [style.fontSize]="page.fontSize" [contentEditable]="true" [innerHTML]="page.body"></div>
    <div class="footer" [style.alignItems]="page.pageNumberAlignment">
        <span *ngIf="page.isShowFooterPageNumber">{{page.pageNumber}}</span>
    </div>
</div>
<div class="right"></div>