:host{
  mat-toolbar.mat-primary {
    position: sticky;
    top: 0px;
    z-index: 2;
  }

  mat-sidenav-container{
    overflow: visible;

    mat-sidenav-content{
      overflow: visible;
    }
  }
}
