$transparent-color:rgba(255,255,255,0.12);
$dashed-border-1:1px dashed currentColor;
$solid-border-1:1px solid currentColor;
$solid-border-2:2px solid currentColor;

@mixin zero-padding-margin{
    padding: 0px;
    margin: 0px;
}

@mixin full-width-zero-padding-margin{
    @include zero-padding-margin;
    width: 100%;
}

@mixin page-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
}