<mat-tab-group>
    <mat-tab label="Editor">
        <app-editor [config]="editorConfig" (draftChangeEvent)="updateDraft($event)"></app-editor>
    </mat-tab>
    <mat-tab label="Create Template">
        <div class="grid c-3 cg-2">
            <div class="grid c-1 rg-2 cs-2 h-ac">
                <mat-card>
                    <mat-card-content>
                        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                            <mat-tab label="Label">
                                <div class="tab-contents">
                                    <mat-radio-group class="grid c-6" [color]="widgetColor" [(ngModel)]="tabData[tab.LABEL]">
                                        <mat-radio-button [value]="plainInputField">{{plainInputField.inputFieldFormat}} Text Box</mat-radio-button>
                                        <mat-radio-button [value]="dividedInputField">{{dividedInputField.inputFieldFormat}} Text Box</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-form-field [color]="widgetColor" appearance="fill">
                                        <mat-label>Label / Question</mat-label>
                                        <input matInput placeholder="Enter desired label / question here..." [(ngModel)]="tabData[tab.LABEL].label" [required]="true" #labelInput (keydown)="_fontService.convertChar($event, labelInput)">
                                    </mat-form-field>
                                    <div *ngIf="tabData[tab.LABEL].isShowPartsAndSeparator()" class="grid c-4 g-1">
                                        <mat-form-field [color]="widgetColor" appearance="fill">
                                            <mat-label>Parts</mat-label>
                                            <input matInput type="number" min="2" max="5" [required]="true" [(ngModel)]="tabData[tab.LABEL].parts">
                                        </mat-form-field>
                                        <mat-form-field [color]="widgetColor" appearance="fill">
                                            <mat-label>Separator Character</mat-label>
                                            <input matInput type="text" [required]="true" [(ngModel)]="tabData[tab.LABEL].separator" #specialCharInput (keydown)="_fontService.convertChar($event, specialCharInput)">
                                        </mat-form-field>
                                    </div>
                                    <div class="grid c-4 g-1" *ngFor="let inputFieldConfig of tabData[tab.LABEL].getInputFieldConfigs(); let i = index">
                                        <mat-form-field [color]="widgetColor" appearance="fill">
                                            <mat-label>Type of Text / Answer {{inputFieldConfig.label}}</mat-label>
                                            <mat-select [(ngModel)]="inputFieldConfig.type">
                                                <mat-option *ngFor="let type of inputFieldConfig.getAllTypes()" [value]="type">{{type}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field [color]="widgetColor" appearance="fill">
                                            <mat-label>Max Length of Text / Answer {{inputFieldConfig.label}}</mat-label>
                                            <input matInput type="number" min="1" [(ngModel)]="inputFieldConfig.maxLength" [required]="true">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Choice">
                                <div class="tab-contents">
                                    <mat-radio-group class="grid c-8" [color]="widgetColor" [(ngModel)]="tabData[tab.CHOICE].choiceFieldFormat">
                                        <mat-radio-button *ngFor="let choiceFieldformat of tabData[tab.CHOICE].getAllChoiceFieldFormats()" [value]="choiceFieldformat">{{choiceFieldformat}}</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-form-field [color]="widgetColor" appearance="fill">
                                        <mat-label>Label / Question</mat-label>
                                        <input matInput placeholder="Enter desired label / question here..." [(ngModel)]="tabData[tab.CHOICE].label" [required]="true" #labelInput (keydown)="_fontService.convertChar($event, labelInput)">
                                    </mat-form-field>
                                    <div class="grid c-4 g-1" *ngFor="let choiceFieldConfig of tabData[tab.CHOICE].getChoiceFieldConfigs(); let i = index">
                                        <mat-form-field [color]="widgetColor" appearance="fill">
                                            <mat-label>Option {{i+1}}</mat-label>
                                            <input matInput type="text" [(ngModel)]="choiceFieldConfig.option" [required]="true" #optionInput (keydown)="_fontService.convertChar($event, optionInput)">
                                        </mat-form-field>
                                        <mat-form-field class="cs-3" [color]="widgetColor" appearance="fill">
                                            <mat-label>Output {{i+1}}</mat-label>
                                            <input matInput type="text" [(ngModel)]="choiceFieldConfig.output" [required]="true" #outputInput (keydown)="_fontService.convertChar($event, outputInput)">
                                        </mat-form-field>
                                    </div>
                                    <div class="grid c-4 g-1">
                                        <button mat-raised-button [color]="widgetColor" (click)="tabData[tab.CHOICE].addOption()">Add More Option</button>
                                        <button mat-raised-button *ngIf="tabData[tab.CHOICE].isShowRemoveButton()" color="accent" (click)="tabData[tab.CHOICE].removeOption()">Remove Option</button>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Date">
                                <div class="tab-contents">
                                    <mat-radio-group class="grid g-2" [color]="widgetColor" [(ngModel)]="tabData[tab.DATE].dateFieldFormat">
                                        <mat-radio-button *ngFor="let dateFieldFormat of tabData[tab.DATE].getAllDateFieldFormats()" [value]="dateFieldFormat">{{dateFieldFormat}}</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-form-field [color]="widgetColor" appearance="fill">
                                        <mat-label>Label / Question</mat-label>
                                        <input matInput placeholder="Enter desired label / question here..." [(ngModel)]="tabData[tab.DATE].label" [required]="true" #labelInput (keydown)="_fontService.convertChar($event, labelInput)">
                                    </mat-form-field>
                                </div>
                            </mat-tab>
                            <mat-tab label="Photo">
                                <div class="tab-contents">
                                    <mat-radio-group class="grid g-2" [color]="widgetColor" [(ngModel)]="tabData[tab.PHOTO].photoFieldFormat">
                                        <mat-radio-button *ngFor="let photoFieldFormat of tabData[tab.PHOTO].getAllPhotoFieldFormats()" [value]="photoFieldFormat">{{photoFieldFormat}}</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-form-field [color]="widgetColor" appearance="fill">
                                        <mat-label>Label / Question</mat-label>
                                        <input matInput placeholder="Enter desired label / question here..." [(ngModel)]="tabData[tab.PHOTO].label" [required]="true" #labelInput (keydown)="_fontService.convertChar($event, labelInput)">
                                    </mat-form-field>
                                </div>
                            </mat-tab>
                            <mat-tab label="Block">

                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button [color]="widgetColor" (click)="insert()">Ok</button>
                    </mat-card-actions>
                </mat-card>
            
                <div class="grid c-1 rg-1" [innerHTML]="latestDraft.innerHTML|SafeHtml"></div>
            </div>

            <mat-card>
                <mat-card-content>
                    <mat-radio-group [(ngModel)]="repeatField" class="grid c-4" [color]="widgetColor">
                        <mat-radio-button *ngFor="let field of fieldPool; let first = first;" [checked]="first" [value]="field">{{field.label}}</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-raised-button [color]="widgetColor" (click)="repeat()">Repeat</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>

    